* {
  box-sizing: border-box;
  font-size: 17px;
}

.row {
  float: left;
  clear: both;
}

#emptyFields {
  display: none;
  display: block;
}
input, label{
  display: inline-block;
  margin: 3px;
  padding: 3px;
  width: 300px;
}
input[type=number] {
  width: 65px;
  border-radius: 3px;
}

fieldset {
  margin: 0;
  width: 500px;
  border: none;
}
.button {
  margin-bottom: 20px;
  padding: 5px;
  background: #009933;
  color: white;
  text-align: center;
  width: 100px;

  box-shadow: 2px 2px 5px gray;
  cursor: pointer;
  border-left: 1px solid white;
}
div.button {
  float: left;
}
form {
  clear: left;
}
.explanation {
  display: none;
  clear: left;
  height: 5em;
}
#timer {
  clear: left
}
.button.beginner:hover ~  .explanation.beginner,
.button.intermediate:hover ~  .explanation.intermediate,
.button.expert:hover ~  .explanation.expert,
.button.custom:hover ~ .explanation.custom{
  display: block;
}

.mine, .mineless {
  width: 25px;
  height: 25px;
  border: 3px outset #aaa;
  display: block;
  float: left;
  cursor: default;
  background: #c9c9c9;
}
.mine:hover, .mineless:hover {
  background: #dee6ed;
}
.isOpen:hover {
  background: #c9c9c9;
}
.mine:active, .mineless:active {
  border-style: inset;
}
.mine {
  /*background: #c9c9c9;*/
  background: red;
}
.mine.isOpen {
  background-color: #c9c9c9;;
  background-image: url('/images/mine.png');
  background-size: cover;
}
.mine.active {
  background-color: red;
  background-image: url('/images/mine.png');
  background-size: cover;
}

.mineless {

  font-family: verdana;
  text-align: center;
  color: yellow;
}
#testContainer {
  height: 350px;
  display: block;
  font-size: 0;
}
.isOpen, .isOpen:hover {
  background: rgb(213, 187, 191);
  border: 1px solid gray;
}
[data-nearbyMines='3'] {color: red}
[data-nearbyMines='2'] {color: green}
[data-nearbyMines='1'] {color: blue}
[data-nearbyMines='0'] {
  font-size: 0;
  background: #c9c9c9;
}
[data-nearbyMines='0']:hover {
  background: #c9c9c9;
}
.flag, .flag:hover {
  background-color: #c9c9c9;
  background-image: url('/images/flag.png');
  background-size: cover;
}
.questionMark, .questionMark:hover {
  background-color: #c9c9c9;
  background-image: url('/images/question_mark.png');
  background-size: cover;
}
