* {
  box-sizing: border-box;
}

html {
  font-size: 30px;
}

@media only screen and (min-width: 1600px) {
  html {
    font-size: 50px;
  }
}

.clear {
  clear: both;
}
.filler {
  flex-grow: 1;
}
body {
  display: flex;
}

#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.row {
  padding: 0.2em 0.7em 0.2em 0.7em;
  border: 0.06em solid #aaa;
  border-bottom: none;
  display: flex;
  position: relative;
  background-color: #dddddd;
}
