#buttons {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  padding: 0;
  border-top-left-radius: 0.8em;
  border-top-right-radius: 0.8em;
}
#beginner {
  border-top-left-radius: 0.8em;
}

#custom {
  border-top-right-radius: 0.8em;
  cursor: default;
}

.buttonWrapper {
  position: relative;
  color: rgb(100, 100, 100);
  width: 25%;
  cursor: pointer;
  text-align: center;
}

.button {
  padding: 0.9em;
  font-size: 0.5em;
  font-weight: bold;
  display: inline-flex;
}

.buttonWrapper:hover {
  color: white;
  background: black;
  border-color: black;
}
#buttons.small {
  display: block;
}
#buttons.small .buttonWrapper {
  width: 50%;
  float: left;
}
#buttons.small #advanced {
  border-top-right-radius: 0.8em;
}
#buttons.small #expert {
  clear: both;
}
#buttons.small #custom {
  border-top-right-radius: 0;
}
