.cell {
  font-family: verdana;
  text-align: center;
  width: 1rem;
  height: 1rem;
  border: 0.12rem outset #aaa;
  font-size: 0.7rem;
  display: block;
  float: left;
  cursor: default;
  background: #c9c9c9;
}
.cell:hover {
  background: #dee6ed;
}
.cell:active {
  border-style: inset;
}
.cell.open,
.cell.open:hover {
  background: rgb(213, 187, 191);
  border: 0.02rem solid gray;
}
.cell.open.noMinesAround {
  background: #c9c9c9;
}
.cell.mine.open,
.cell.mine.open:hover {
  background-color: #c9c9c9;
  background-image: url("/images/mine.png");
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.cell.active_mine.open,
.cell.active_mine.open:hover {
  background-color: #c9c9c9;
  background-image: url("/images/red_mine.png");
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.cell.flag,
.cell.flag:hover {
  background-color: #c9c9c9;
  background-image: url("/images/flag.png");
  background-size: cover;
}
.cell.questionMark,
.cell.questionMark:hover {
  background-color: #c9c9c9;
  background-image: url("/images/question_mark.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
