#stats {
  position: relative;
  border: 3px solid #aaa;
  border-bottom: none;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  display: flex;
  background-color: #dddddd;
}
.small #flags_count {
  position: relative;
  right: -28px;
}
.small #timer {
  position: absolute;
  left: -33px;
}
#stats.small > * {
  transform: scale(0.4);
}

#stats > img {
  max-height: 55px;
}

#restart_face {
  cursor: pointer;
  position: absolute;
  left: calc(50% - 25px);
}

#restart_block img {
  cursor: pointer;
}

#stats.big > * {
  transform: scale(0.6);
}
