#stats > img {
  max-height: 1em;
}

#restart_face {
  cursor: pointer;
  position: absolute;
  left: calc(50% - 0.5em);
}

#flag {
  margin-left: 0.2em;
}

#restart_block img {
  cursor: pointer;
}

#stats.tiny {
  font-size: 20px;
}

#stats.small {
  font-size: 40px;
}

#stats.big {
  font-size: 60px;
}
